ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #3e92ca;
}

body {
    background-image: url("https://i.pinimg.com/originals/62/da/98/62da98a3844145e89cd5aaf257d66eea.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }